body {
    font-family: Arial;
    width: 350px;
    margin: 40px auto;
}

.input-box {
    display: flex;
    gap: 10px;
}

input {
    flex: 1;
    padding: 8px;
}

button {
    padding: 8px 12px;
    cursor: pointer;
}

li {
    margin-top: 10px;
    padding: 8px;
    background: #f2f2f2;
    display: flex;
    justify-content: space-between;
}